<script id="input" type="text/template">
    <div class="form-group{{? it.class }} {{=it.class}}{{?}}">
        <label>{{=it.label}}</label>
        <input data-bind-name="{{=it.id}}" type="{{=it.type}}" class="form-control" placeholder="{{=it.placeholder}}">
    </div>
</script>
<script id="textarea" type="text/template">
    <div class="form-group{{? it.class }} {{=it.class}}{{?}}">
        <label for="{{=it.id}}">{{=it.label}}</label>
        <textarea id="{{=it.id}}" data-bind-name="{{=it.id}}" type="{{=it.type}}" class="form-control" placeholder="{{=it.placeholder}}">
        </textarea>
    </div>
</script>
<script id="select" type="text/template">
    <div class="form-group{{? it.class }} {{=it.class}}{{?}}">
        <label>{{=it.label}}</label>
        <select data-bind-name="{{=it.id}}" class="form-control"{{? it.data }} data-source="{{=it.data}}"{{?}}>
            {{? it.empty }}<option>-</option>{{?}}
            {{~it.options :value:index}}
            <option>{{=value}}</option>
            {{~}}
        </select>
    </div>
</script>
<script id="checkbox" type="text/template">
    <div class="checkbox{{? it.class }} {{=it.class}}{{?}}">
        <label><input id="{{=it.id}}" data-bind-name="{{=it.id}}" type="checkbox">{{=it.label}}</label>
    </div>
</script>
<script id="radio" type="text/template">
    <div class="form-group{{? it.class }} {{=it.class}}{{?}}">
        {{? it.label }}<label>{{=it.label}}</label>{{?}}
        {{~it.options :value:index}}
        <div class="radio">
            <label><input type="radio" data-bind-name="{{=it.id}}" name="{{=it.id}}" value="{{=value.value}}">{{=value.label}}</label>
        </div>
        {{~}}
    </div>
</script>
<script id="button" type="text/template">
    <button type="{{=it.type}}" class="btn{{? it.class }} {{=it.class}}{{?}}">{{=it.label}}</button>
</script>
<script id="component" type="text/template">
    <div class="form-group">
        <label for="{{=it.id}}">{{=it.label}}</label>
        <div id="{{=it.id}}" class="{{? it.class }}{{=it.class}}{{??}}{{=it.klass}}{{?}}" data-klass="{{=it.klass}}"{{? it.path }} data-path="{{=it.path}}"{{=it.path}}{{?}}></div>
    </div>
</script>
<script id="list" type="text/template">
    <div class="form-list" data-bind-ext="{{=it.path}}">
    </div>
</script>
<script id="group" type="text/template">
    <div class="form-group" data-bind-ext="{{=it.path}}">
        <div class="drop-wrap top"><hr class="droppable"/></div>
        <div class="drop-wrap"><hr class="droppable"/></div>
        <button type="button" class="close" data-value="remove">×</button>
    </div>
</script>
<script id="style" type="text/template">
    .form {
        position: relative; width: 100%; border: 1px solid #EEE; padding: 20px;
    }
    .form .component.code-edit {
        height: 150px; border: 2px solid #DDD;
    }
    .form .form-list {
        width: 100%; position: absolute; z-index: 1; margin-top: -15px;
    }
    .form .form-list > .form-group {
        border-bottom: 1px solid #DDD;
        margin-left: -15px; margin-right: -15px;
        padding-left: 15px; padding-right: 15px;
        margin-bottom: 5px; padding-top: 15px;
        position: relative;
    }
    .form .form-list > .form-group > button {
        display: block;
        margin-top: -10px; margin-right: -5px;
        font-size: 24px; opacity: 0.2;
    }
    .form .form-list > .form-group > .drop-wrap {
        position: absolute; bottom: -30px;
        left: 0; width: 100%;
        padding: 0 5px; box-sizing: content-box; margin-left: -5px;
    }
    .form .form-list > .form-group > .drop-wrap.top {
        display: none; top: -25px;
    }
    .form .form-list > .form-group.top > .drop-wrap.top {
        display: block;
    }
    .form .form-list > .form-group > .drop-wrap hr {
        width: 100%; border: 0; height: 20px;
        padding: 0 5px; box-sizing: content-box; margin-left: -5px;
    }
    .form .form-list > .form-group.top > .drop-wrap.top hr {
        height: 15px;
    }
</script>