<script id="slide" type="text/template">
    <div id="{{#def.id}}" class="drag-and-drop draggable{{? it.class }} {{=it.class}}{{?}}"></div>
</script>
<script id="carousel" type="text/template">
  <div class="carousel slide carousel-fit" data-ride="carousel" data-interval="60000">
    <div class="carousel-inner">
    </div>
  </div>
</script>
<script id="slide-img" type="text/template">
    <div class="item{{? it.active }} active{{?}}">
      <img data-src="{{=it.data}}" alt="{{=it.alt}}" src="{{=it.src}}">
      <div class="carousel-caption" style="left: 45px; right: 45px;">
        <h3>{{=it.label}}</h3>
        <p>{{=it.text}}</p>
      </div>
    </div>
</script>
<script id="control" type="text/template">
  <a class="{{=it.move}} carousel-control" href="#{{#def.id}}" data-control="{{=it.control}}" data-move="{{=it.move}}">
    <span class="glyphicon glyphicon-chevron-{{=it.move}}"></span>
  </a>
</script>
<script id="fullscreen" data-type="style" type="text/template">
  .modal.modal-fullscreen .modal-content {
    background: #333;
  }
  .modal.modal-fullscreen .modal-header {
    color: #fff;
  }
  .modal.modal-fullscreen .modal-footer {
    padding: 30px;
  }
</script>