<script id="main" type="text/template">
  {{? it.button }}
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{=it.button}}
      <span class="caret"></span>
    </button>
    <ul{{? it.class }} class="{{=it.class}}"{{?}} data-id="#{{=it.id}}"></ul>
  </div>
  {{??}}
    <ul{{? it.class }} class="{{=it.class}}"{{?}} data-id="#{{=it.id}}"></ul>
  {{?}}
</script>
<script id="button" type="text/template">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</script>
<script id="item" type="text/template">
  <li{{? it.class }} class="{{=it.class}}"{{?}}>
  	<a {{? it.href }}href="{{=it.href}}" data-id="{{=it.id}}"{{??}}href="#{{=it.id}}"{{?}}>
  		{{? it.glyph }}<span class="glyphicon {{=it.glyph}}"></span>{{??}}{{=it.name}}{{?}}
  	</a>
  </li>
</script>
<script id="dropdown" type="text/template">
  <li class="dropdown{{? it.submenu }} dropdown-submenu{{?}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="Javascript:">{{=it.name}}<span class="caret"></span></a>
  </li>
</script>
<script id="style" type="text/template">
	.dropdown-submenu {
	    position: relative;
	}

	.dropdown-submenu .dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -1px;
	}
</script>
