<script id="main" type="text/template">
  <ul{{? it.class }} class="{{=it.class}}"{{?}} data-id="#{{=it.id}}"></ul>
</script>
<script id="item" type="text/template">
  <li>
  	<a href="#{{=it.id}}">{{=it.name}}</a>
  </li>
</script>
<script id="dropdown" type="text/template">
  <li class="dropdown{{? it.submenu }} dropdown-submenu{{?}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#{{=it.id}}">{{=it.name}}<span class="caret"></span></a>
  </li>
</script>
<script id="style" type="text/template">
	.dropdown-submenu {
	    position: relative;
	}

	.dropdown-submenu .dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: -1px;
	}
</script>
